<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <title>{% if index_title %}{{ index_title }}{% else %}{{ album.title }}{% endif %}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="apple-touch-icon" href="{{ theme.url }}/img/apple-touch-icon.png">
        <link rel="favicon" href="{{ theme.url }}/img/favicon.ico">
        
        <link rel="stylesheet" href="{{ theme.url }}/css/style.css">
        
        {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="page">
            <div class="page__header" role="banner">
                <h1 class="page__title">Myles' Photos</h1>
                {% block breadcrumb %}{% endblock %}
            </div>
            
            <div class="page__main" role="main">
                {% block content %}{% endblock %}
            </div>
            
            <div class="page__footer" role="footer">
                {% block footer %}{% endblock %}
            </div>
        </div>
        {% endblock %}
        
        {% include 'analytics.html' %}
        {% include 'piwik.html' %}
    </body>
</html>
