{% extends "base.html" %}

{% set media_title = media.title if media.title else media.filename %}

{% block breadcrumb %}
    {% if album.breadcrumb %}
    <div class="breadcrumb">
        <a href="/" class="breadcrumb__item breadcrumb__item--first">Home</a>
        {% for url, title in album.breadcrumb %}
        <a href="{{ url }}" class="breadcrumb__item{% if loop.last %} breadcrumb__item--last{% endif %}">{{ title }}</a>
        {% endfor -%}
        <a href="#">{{ media_title }}</a>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if media %}
    <div class="media media--{{ media.type }}">
        {% if media.type == "image" %}
        <img src="{{ media.filename }}" alt="{{ media_title }}" title="{{ media_title }}" class="media__image">
        {% endif %}
        {% if media.type == "video" %}
        <video controls class="media__video">
            <source src="{{ media.filename }}" type="video/webm" class="media__video-source">
        </video>
        {% endif %}
    </div>
    {% endif %}
    
    <div class="pager">
        {% if previous_media %}
        <a href="{{ previous_media.filename }}.html" class="pager__previous pager__previous--on">Previous</a>
        {% else %}
        <span class="pager__previous pager__previous--off">Previous</span>
        {% endif %}
        
        {% if next_media %}
        <a href="{{ previous_media.filename }}.html" class="pager__next pager__next--on">Next</a>
        {% else %}
        <span class="pager__next pager__next--off">Next</span>
        {% endif %}
    </div>
{% endblock %}
