.album-list {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);

  @at-root #{&}__link {
    @include flex-basis($thumbnail-width);
    @include flex-grow(1);

    margin: 0;
  }

  @at-root #{&}__image-wrapper,
           #{&}__heading,
           #{&}__description {
    max-width: $thumbnail-width;
  }

  @at-root #{&}__image-wrapper {
    height: $thumbnail-height;
    background: whitesmoke;
    overflow: hidden;
  }

  @at-root #{&}__image {
    width: 100%;
  }
}
